version: '3.1'

services:
  mongo:
    image: mongo
    restart: always # when container crashes, it automatically restarts
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root

      

